/** GENERAL: **/
body {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #F0F0F0;
}


/** LAYOUT ALIGNMENT **/
html{
    height:100%;
}
body {
    height:100%;
    padding:0px; margin: 0px;
}
div#root {
    height:100%;
    display: flex;
    flex-direction: column;
}
div.MyNavBar {
    padding:10px 4px 10px 14px;
    margin: 0px 0px 10px 0px;
}
div.subbody {
    padding:0px 10px 10px 10px;
    height:100%;
    margin:0px;
}
div.atBottom {
    padding: 3px 0px 3px 5px;
    margin: 0px;
}
div.flexVert {
    display: flex;
    flex-direction: column;
}
h2 {margin: 0px 0px 8px;}
p {padding: 2px 0px 4px 0px; margin: 0px;}

/* ELEMENTS ON EVERY PAGE: */
div.MyNavBar {
    font-size:17px;
    background-color:#206050;
    border-style: solid none;
    border-width: 2px;
    border-color: #003000;
}
div.MyNavBar a.NavUnfocus{
    text-decoration: none;
}
div.MyNavBar a {
    color: #D4FFFF;
}
span.MyNavBullet {
    color: #E0B0F0;
    font-size: 11px;
}
div.atBottom {
    color: #D4FFFF;
    background-color:#206050;
}

p.small {
    font-size: 12px;
}
.VerticalCenter {
    vertical-align:middle;
    top: 50%;
    left: 50%;
}

/** PAGE: /logos **/
.logo {
  height: 60px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #146cffaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
        animation: logo-spin infinite 90s linear;
  }
}

/** PAGE: /wait **/
table.AwaitTable {margin-top:4px;}
table.AwaitTable td, table.AwaitTable th {
    padding:0px 13px 0px 0px;
    text-align: left;
    font-size:9px;
    width:55px;
}
table.AwaitTable td.slept, table.AwaitTable th.slept {
    width:60px;
    text-align: right;
}

/** PAGE: /chat **/
/* Layout */
div.chat {
    height: 100%;
    max-width: 800px;
    display:flex;
    flex-direction: column;
}
div.chatsignup {
    display: flex;
    flex-direction: row;
}
div.chatmessages {
    overflow-y:auto;
    margin-bottom: 6px;
    padding: 6px;
    height: 400px;
}
div.chat textarea {
    margin-bottom: 6px;
    width: 100%;
}
div.chatmessages div#bottomMost {
    margin-top: 4px;
}
div.chatsignup input{
    margin-right:10px;
}

div.chatmessages {
    border-style: solid;
    border-width: 2px;
    border-color: #a7a7D7;
    font-size: 14px;
    background-color: white;
}
span.mention {
    color: #3030D0;
}
span.chatname {
    font-weight: 800;
}

/** PAGE: /videos */
div.videoplayer {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}
div.videoplayer div.videobutton {
    margin:20px;
}