p {
    padding:10px;
}
body {
    padding:0px;
    margin: 0px;
}
div.MyNavBar {
    padding:14px 4px 14px 14px;margin:0px;font-size:27px;
    background-color:#E0C0B0;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    margin-bottom: 15px;
}
div.MyNavBar a.NavUnfocus{
    text-decoration: none;
}
div.MyNavBar a {
    color: #20A020;
}
span.menubullet {
    color: #C0A0A0;
    font-size: 8px;
}